@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/* 
main {
    max-height: 80vh;
    width: 100%;
} */

.checkboard_pattern {
    height: 100%;
    width: 100%;
    background: conic-gradient(
        #313131 90deg,
        #1f1f20 90deg 180deg,
        #313131 180deg 270deg,
        #1f1f20 270deg
    );
    background-repeat: repeat;
    background-size: 30px 30px;
    background-position: top left;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
